In [1]:
#pip install faker

### To put fake values in csv file

In [2]:
import uuid
import csv 
from faker import Faker
with open('test_csv_file2.csv', 'w') as csvf:
    writer = csv.writer(csvf)
    column_headers = ("email", "customerId", "firstName", "lastName","Date_of_Birth")
    writer.writerow(column_headers)
    for _ in range(5):
        fake = Faker()
        row = (f'qa+{uuid.uuid4()}@example.com', uuid.uuid4(), fake.first_name(), fake.last_name(),fake.date_this_month())
        writer.writerow(row)

In [3]:
# dir(fake)

In [4]:
import uuid
import csv 
from faker import Faker
with open('test_csv_file2.csv', 'w') as csvf:
    writer = csv.writer(csvf)
    column_headers = ("email", "customerId", "firstName", "lastName","Date_of_Birth")
    writer.writerow(column_headers)
    for _ in range(5):
        fake = Faker()
        row = (f'qa+{uuid.uuid4()}@example.com', fake.uuid4(), fake.first_name(), fake.last_name(),fake.date_this_month())
        writer.writerow(row)

### To bring out fake values in different ways from csv file

In [17]:
#dir(writer)

In [16]:
#dir(csv.reader)

In [36]:
#To convert it into pandas eataframe without using read_csv function
import pandas as pd
from faker import Faker
F = open ("test_csv_file2.csv", "r")
read_csv = csv.DictReader(F)
print(read_csv)
data=pd.DataFrame(read_csv)
data.reset_index(inplace=False)
data

<csv.DictReader object at 0x000001C1D84ABBE0>

,email,customerId,firstName,lastName,Date_of_Birth
0,qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@exampl...,e155511b-54d5-4b2c-b015-5e1641f40380,Lisa,Lawrence,2021-08-07
1,qa+1aecba23-35d3-43d6-b52e-2127fd032327@exampl...,41880dbe-2584-4f42-b61e-dc4af4b15718,Linda,Guzman,2021-08-01
2,qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@exampl...,847ac93f-649c-48a7-8191-a6917284b839,Shelby,Shaffer,2021-08-07
3,qa+2485a742-414d-46d5-acae-39531ba9ebad@exampl...,4b17a2db-ba7c-4953-a63c-d5021d9dabfc,Alicia,Freeman,2021-08-08
4,qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@exampl...,1f141ced-ddb0-42a2-a814-c3666869c294,Jill,Swanson,2021-08-07

In [22]:
#To read all rows from csv
import csv
with open('test_csv_file2.csv', newline='') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['email', 'customerId', 'firstName', 'lastName', 'Date_of_Birth']
[]
['qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@example.com', 'e155511b-54d5-4b2c-b015-5e1641f40380', 'Lisa', 'Lawrence', '2021-08-07']
[]
['qa+1aecba23-35d3-43d6-b52e-2127fd032327@example.com', '41880dbe-2584-4f42-b61e-dc4af4b15718', 'Linda', 'Guzman', '2021-08-01']
[]
['qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@example.com', '847ac93f-649c-48a7-8191-a6917284b839', 'Shelby', 'Shaffer', '2021-08-07']
[]
['qa+2485a742-414d-46d5-acae-39531ba9ebad@example.com', '4b17a2db-ba7c-4953-a63c-d5021d9dabfc', 'Alicia', 'Freeman', '2021-08-08']
[]
['qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@example.com', '1f141ced-ddb0-42a2-a814-c3666869c294', 'Jill', 'Swanson', '2021-08-07']
[]

In [23]:
#To read first row from csv : way 1
with open('test_csv_file2.csv', newline='') as f:
    reader = csv.reader(f)
    row1 = next(reader)
    print(row1)

['email', 'customerId', 'firstName', 'lastName', 'Date_of_Birth']

In [24]:
#To read first row from csv: way 2
with open('test_csv_file2.csv', newline='') as f:
    reader = csv.reader(f)
    for row in reader:
    # do something here with `row`
        print(row)
        break

['email', 'customerId', 'firstName', 'lastName', 'Date_of_Birth']

In [25]:
#print using next function

with open('test_csv_file2.csv', newline='') as f:
    csv_reader = csv.reader(f)
    csv_headings = next(csv_reader)
    print(csv_headings)
    first_line = next(csv_reader)
    print(first_line)

['email', 'customerId', 'firstName', 'lastName', 'Date_of_Birth']
[]

In [26]:
# importing the module
import csv
 
# open the file in read mode
filename = open('test_csv_file2.csv', 'r')
 
# creating dictreader object
file = csv.DictReader(filename)
 
# creating empty lists
email = []
customerId = []
firstName = []
lastName=[]
Date_of_Birth=[]

 
# iterating over each row and append
# values to empty list
for col in file:
    email.append(col['email'])
    customerId.append(col['customerId'])
    firstName.append(col['firstName'])
 
# printing lists
print('All mails:', email)
print('All cids:', customerId)
print('All names:', firstName)

All mails: ['qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@example.com', 'qa+1aecba23-35d3-43d6-b52e-2127fd032327@example.com', 'qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@example.com', 'qa+2485a742-414d-46d5-acae-39531ba9ebad@example.com', 'qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@example.com']
All cids: ['e155511b-54d5-4b2c-b015-5e1641f40380', '41880dbe-2584-4f42-b61e-dc4af4b15718', '847ac93f-649c-48a7-8191-a6917284b839', '4b17a2db-ba7c-4953-a63c-d5021d9dabfc', '1f141ced-ddb0-42a2-a814-c3666869c294']
All names: ['Lisa', 'Linda', 'Shelby', 'Alicia', 'Jill']

In [ ]:
#dir(filename)

In [27]:
#To ignore the empty lines

ifile = open ("test_csv_file2.csv", "r")
empty_lines=0
for line in csv.reader(ifile): 
    if not line: 
        empty_lines += 1 
        continue
    print(line)
print('The number of empty lines are : ',empty_lines)

['email', 'customerId', 'firstName', 'lastName', 'Date_of_Birth']
['qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@example.com', 'e155511b-54d5-4b2c-b015-5e1641f40380', 'Lisa', 'Lawrence', '2021-08-07']
['qa+1aecba23-35d3-43d6-b52e-2127fd032327@example.com', '41880dbe-2584-4f42-b61e-dc4af4b15718', 'Linda', 'Guzman', '2021-08-01']
['qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@example.com', '847ac93f-649c-48a7-8191-a6917284b839', 'Shelby', 'Shaffer', '2021-08-07']
['qa+2485a742-414d-46d5-acae-39531ba9ebad@example.com', '4b17a2db-ba7c-4953-a63c-d5021d9dabfc', 'Alicia', 'Freeman', '2021-08-08']
['qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@example.com', '1f141ced-ddb0-42a2-a814-c3666869c294', 'Jill', 'Swanson', '2021-08-07']
The number of empty lines are :  6

In [ ]:
#dir(csv)

In [28]:
# To ignore the empty lines

with open('test_csv_file2.csv','r') as f:
    reader = csv.reader(f)
    empty_lines=0
    for line in reader: 
        if not line: 
            empty_lines += 1 
            continue
        print(line)
print('The number of empty lines are : ',empty_lines)

['email', 'customerId', 'firstName', 'lastName', 'Date_of_Birth']
['qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@example.com', 'e155511b-54d5-4b2c-b015-5e1641f40380', 'Lisa', 'Lawrence', '2021-08-07']
['qa+1aecba23-35d3-43d6-b52e-2127fd032327@example.com', '41880dbe-2584-4f42-b61e-dc4af4b15718', 'Linda', 'Guzman', '2021-08-01']
['qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@example.com', '847ac93f-649c-48a7-8191-a6917284b839', 'Shelby', 'Shaffer', '2021-08-07']
['qa+2485a742-414d-46d5-acae-39531ba9ebad@example.com', '4b17a2db-ba7c-4953-a63c-d5021d9dabfc', 'Alicia', 'Freeman', '2021-08-08']
['qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@example.com', '1f141ced-ddb0-42a2-a814-c3666869c294', 'Jill', 'Swanson', '2021-08-07']
The number of empty lines are :  6

In [13]:
#To bring the data into list

ifile = open ("test_csv_file2.csv", "r")
empty_lines=0
lines=[]
for line in csv.reader(ifile): 
    if not line: 
        empty_lines += 1 
        continue
    lines.append(line)
print(lines)
print('The number of empty lines are : ',empty_lines)

[['email', 'customerId', 'firstName', 'lastName', 'Date_of_Birth'], ['qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@example.com', 'e155511b-54d5-4b2c-b015-5e1641f40380', 'Lisa', 'Lawrence', '2021-08-07'], ['qa+1aecba23-35d3-43d6-b52e-2127fd032327@example.com', '41880dbe-2584-4f42-b61e-dc4af4b15718', 'Linda', 'Guzman', '2021-08-01'], ['qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@example.com', '847ac93f-649c-48a7-8191-a6917284b839', 'Shelby', 'Shaffer', '2021-08-07'], ['qa+2485a742-414d-46d5-acae-39531ba9ebad@example.com', '4b17a2db-ba7c-4953-a63c-d5021d9dabfc', 'Alicia', 'Freeman', '2021-08-08'], ['qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@example.com', '1f141ced-ddb0-42a2-a814-c3666869c294', 'Jill', 'Swanson', '2021-08-07']]
The number of empty lines are :  6

In [20]:
#To convert them into dictionaries
with open("test_csv_file2.csv",'r') as open_csv:
    read_csv=csv.DictReader(open_csv)
    row1=[row1 for row1 in read_csv]
    print(row1)

[{'email': 'qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@example.com', 'customerId': 'e155511b-54d5-4b2c-b015-5e1641f40380', 'firstName': 'Lisa', 'lastName': 'Lawrence', 'Date_of_Birth': '2021-08-07'}, {'email': 'qa+1aecba23-35d3-43d6-b52e-2127fd032327@example.com', 'customerId': '41880dbe-2584-4f42-b61e-dc4af4b15718', 'firstName': 'Linda', 'lastName': 'Guzman', 'Date_of_Birth': '2021-08-01'}, {'email': 'qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@example.com', 'customerId': '847ac93f-649c-48a7-8191-a6917284b839', 'firstName': 'Shelby', 'lastName': 'Shaffer', 'Date_of_Birth': '2021-08-07'}, {'email': 'qa+2485a742-414d-46d5-acae-39531ba9ebad@example.com', 'customerId': '4b17a2db-ba7c-4953-a63c-d5021d9dabfc', 'firstName': 'Alicia', 'lastName': 'Freeman', 'Date_of_Birth': '2021-08-08'}, {'email': 'qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@example.com', 'customerId': '1f141ced-ddb0-42a2-a814-c3666869c294', 'firstName': 'Jill', 'lastName': 'Swanson', 'Date_of_Birth': '2021-08-07'}]

In [ ]:

#To convert them into dictionaries
with open("test_csv_file2.csv",'r') as open_csv:
    read_csv=csv.DictReader(open_csv)
    email = {}
    customerId = {}
    firstName = {}
    lastName={}
    Date_of_Birth={}
    i=0
    for row in read_csv:
        row[i]=

In [34]:
from csv import reader

with open('test_csv_file2.csv', 'r') as csv_file:
    csv_reader = reader(csv_file,delimiter = '\t')
    # Passing the cav_reader object to list() to get a list of lists
    list_of_rows = list(csv_reader)
    print(list_of_rows)

[['email,customerId,firstName,lastName,Date_of_Birth'], [], ['qa+6db16ca7-af8f-45cb-8d05-0cf6687c038c@example.com,e155511b-54d5-4b2c-b015-5e1641f40380,Lisa,Lawrence,2021-08-07'], [], ['qa+1aecba23-35d3-43d6-b52e-2127fd032327@example.com,41880dbe-2584-4f42-b61e-dc4af4b15718,Linda,Guzman,2021-08-01'], [], ['qa+1ff98e8f-3a8e-430a-b708-59ca0740bde7@example.com,847ac93f-649c-48a7-8191-a6917284b839,Shelby,Shaffer,2021-08-07'], [], ['qa+2485a742-414d-46d5-acae-39531ba9ebad@example.com,4b17a2db-ba7c-4953-a63c-d5021d9dabfc,Alicia,Freeman,2021-08-08'], [], ['qa+7dd4714d-5f9c-411a-9be2-957872cbda6c@example.com,1f141ced-ddb0-42a2-a814-c3666869c294,Jill,Swanson,2021-08-07'], []]

In [40]:
import re

string = "Data Science activities are in fact Data Engineering which has  minimal overlap with core Data science skills. data Science teams can re-double efforts"

pattern = r'data'
new_string = re.sub(pattern, 'DATA', string, flags=re.IGNORECASE)

print(new_string)

DATA Science activities are in fact DATA Engineering which has  minimal overlap with core DATA science skills. DATA Science teams can re-double efforts